/* You can add global styles to this file, and also import other style files */

body {
    background-color: black;
    color: white;
}

h1 {
    margin: 10px;
}

img {
    width: 250px;
    height: 250px;
    transition: 0.3s;
    margin-bottom: 50px;
}

img:hover {
    transition: 0.3s;
    filter: drop-shadow(0 0 15px white);
}